<!-- It is the Splash Screen with Name, Login and Signup -->

<!-- app/views/splash/index.html.erb -->
<!-- Wrap it around a div with class container, so that it appears in the middle of the Screen -->
<div class="container">
<h1 class="text-center" style="font-size: 30px;">Budget App</h1>
<div class="text-center buttons-container">
  <button class="button-login btn btn-primary"><a href="/users/sign_in" class="btn btn-primary" style="color: white;">LOG IN</a></button>
  <a href="/users/sign_up" class="btn btn-primary" style="color: #434b54;">SIGN UP</a>
</div>
</div>
